/** @format */

/* Min width 375px */
@media screen and (min-width: 375px) {
  /* Profile */
  .profile .heading {
    font-size: 24px;
  }

  .profile .subheading {
    font-size: 13px;
  }

  /* Marketing channel */
  .marketing-channel .heading {
    font-size: 22px;
  }

  /* MT table body */
  .mt-table .mt-table-body {
    font-size: 9px;
  }

  /* Material icons */
  .mt-table .mt-table-body .material-icons {
    font-size: 13px;
  }

  /* MT table footer */
  .mt-table .mt-table-footer a {
    font-size: 6px;
  }

  /* MT table description */
  .mt-table .mt-table-description p {
    font-size: 10px;
  }

  /* Form leads */
  .form-leads .heading {
    font-size: 22px;
    margin: 0 70px;
  }

  /* Form group */
  .form-group .mt-button {
    margin: 10px 65px 0 65px;
  }

  /* Features */
  .features .heading {
    font-size: 20px;
  }

  .features .subheading {
    font-size: 14px;
  }

  /* Feature list container */
  .feature-list-container .feature-item .feature-item-header {
    margin: 0 65px;
  }
}

/* Min width 425px */
@media screen and (min-width: 425px) {
  /* Profile */
  .profile .heading {
    font-size: 27px;
  }

  .profile .subheading {
    font-size: 15px;
  }

  /* MT table body */
  .mt-table .mt-table-body {
    font-size: 10px;
  }

  /* Material icons */
  .mt-table .mt-table-body .material-icons {
    font-size: 15px;
  }

  /* MT table footer */
  .mt-table .mt-table-footer a {
    font-size: 8px;
  }

  /* MT table description */
  .mt-table .mt-table-description p {
    font-size: 11px;
  }

  /* Form leads */
  .form-leads .heading {
    margin: 0 90px;
  }

  /* Form group */
  .form-group .mt-button {
    margin: 10px 85px 0 85px;
  }

  /* Features */
  .features .heading {
    font-size: 22px;
  }

  /* Feature list container */
  .feature-list-container .feature-item .feature-item-header {
    margin: 0 80px;
  }
}

/* Min width 640px */
@media screen and (min-width: 640px) {
  /* MT table header */
  .mt-table .mt-table-header {
    height: 60px;
    font-size: 16px;
  }

  .mt-table .mt-table-header .professional {
    background-color: transparent;
    background-image: linear-gradient(
        rgba(82, 81, 81, 0.8),
        rgba(82, 81, 81, 0.8)
      ),
      url("/images/banner-1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .mt-table .mt-table-header .bussines {
    background-color: transparent;
    background-image: linear-gradient(
        rgba(69, 40, 189, 0.8),
        rgba(69, 40, 189, 0.8)
      ),
      url("/images/banner-2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .mt-table .mt-table-header .enterprise {
    background-color: transparent;
    background-image: linear-gradient(
        rgba(245, 124, 14, 0.8),
        rgba(245, 124, 14, 0.8)
      ),
      url("/images/banner-3.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  /* MT table body */
  .mt-table .mt-table-body {
    font-size: 12px;
  }

  /* Material icons */
  .mt-table .mt-table-body .material-icons {
    font-size: 14px;
  }

  /* MT table footer */
  .mt-table .mt-table-footer {
    display: grid;
    grid-template-columns: 2fr repeat(3, 1fr);
    margin: 20px 10px 0 10px;
  }

  .mt-table .mt-table-footer a {
    font-size: 10px;
    padding: 10px;
  }

  /* MT table description */
  .mt-table .mt-table-description {
    display: flex;
    justify-content: space-evenly;
    margin: 20px 10px 0 10px;
  }

  .mt-table .mt-table-description p {
    font-size: 12px;
  }
}
